body {background-color: #FFFFFF;}

h1{color:darkblue}
a.navegacion{color: darkslateblue}
#formulario {color: darkblue}
h2 {color: purple}
li {color: black}
label {color: grey}
th {color: black}
td {color: grey}


/* Estilos de la navegación */
nav {
    text-align: left;
}

.navegacion {
    color: blue;
    text-decoration: none;
}

.navegacion:hover {
    text-decoration: underline;
}

/* Estilos para el formulario */
#formulario {
    margin: 20px;
}

.contacto ul {
    list-style-type: none;
    padding: 0;
}

.contacto li {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #FFFFAF;
}

/* Footer */
footer {
    padding: 5px;
}

address {
    font-style: normal;
}